body {
  font-family: Arial, sans-serif;
}

button {
  margin-top: 10px;
}

.status-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.status-option {
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.status-option.todo.selected {
  background-color: #f0ad4e;
}

.status-option.inprogress.selected {
  background-color: #5bc0de;
}

.status-option.done.selected {
  background-color: #5cb85c;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .status-option {
  box-shadow: none;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.task .absolute {
  position: absolute;
}

.task .top-2 {
  top: 0.5rem;
}

.task .right-2 {
  right: 0.5rem;
}

.task .text-gray-500 {
  color: #6b7280;
}

.task .hover\:text-gray-700:hover {
  color: #374151;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 28;
}
